/* Declaraciones tipo Bootstrap */
.mt-5r{
    margin-top: 5rem;
}

.mt-6{
    margin-top: 6rem !important;
}
.mr-7{
    margin-right: 6rem !important;
}
.btn, .btn-green{
    color: #4a4e57;
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
}
.btn-green{
    background-color: #51e5a5;}


/* Declaraciones generales */
a{
    text-decoration: none !important;
    color: black;
}
body{
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
}
.table th, .table td{
    text-align: center;
}
/*Header*/
header > nav{
    background-color: rgb(82, 77, 215);
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
}
a.navbar-brand{
    color: white !important;
    font-size: 1.9rem;
    letter-spacing: .1rem;
}
a.navbar-brand > span{
    color: #51e5a5 !important;
}
.nav-item.dropdown > a{
    color: white !important;
}
.nav-item.dropdown > a:hover, .nav-item.dropdown > a:active{
    color: #51e5a5 !important;
}
.dropdown-item{
    color: #4a4e57;
}
/*My bets*/
 a:hover{
    color: #51e5a5;
}
.card-body{
    padding-top: .6rem !important;
}
#betSlip{
    border-bottom: 1px solid #4a4e57;
    border-right: 1px solid #4a4e57;
}
#misApuestas{
    border-bottom: 1px solid #4a4e57;
}
/* Declaraciones responsive */
@media only screen and (min-width: 992px)  {
    #navbarNavDropdown{
        display: flex;
        justify-content: end;
    }
    .btn-dark.mr-3{
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        margin-left: 1rem;
    }
}